body {
  /* background-image: url('https://static01.nyt.com/images/2020/02/04/science/30SCI-SPITZER1c/30SCI-SPITZER1c-mobileMasterAt3x-v2.jpg'); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-position: center; */
  background-color: grey;
  font-family: 'Montserrat', sans-serif, Arial, Helvetica
}

label {
  display: none;
}

.counter-container {
  border: 2px solid black;
  width: 100vw;
  height: 84vh;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow-y: scroll;
}

.search-container {
  border: 2px solid red;
  width: 100vw;
  height: 15vh;
  margin: 0;
  position: fixed;
  bottom: 0;
  left:0;
  display: flex;
  flex-flow: column wrap;
}

/* THESE ARE THE STYLINGS FOR ALL THE COUNTER DIVs */
.counter {
  border: 2px solid black;
  background-image: url('https://www.esa.int/var/esa/storage/images/esa_multimedia/images/2019/06/europe_s_rockets/19421217-6-eng-GB/Europe_s_rockets_pillars.jpg');
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: grey;
  border-radius: 10px;
  width: 98vw;
  height: 12vh;
  margin: 10px 0 10px 0;
  display: grid;
  grid-template-columns:  repeat(5, auto);
  grid-template-rows: repeat(2, auto);
  grid-gap: 10px;
  grid-template-areas: 
    "countdown countdown name name name"
    "date time type type dropdown";
  /* display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: center;
  text-align: center; */
}
/* .counterTall {
  height: 20vh !important;
} */

.countdown {
  grid-area: countdown;
  margin: 20px 10px 10px 10px;
  text-shadow: 1px 2px black;
}
.name {
  grid-area: name;
  justify-self: end;
  text-align: right;
  margin: 20px 10px 10px 10px;
}
.time {
  grid-area: time;
  margin: 10px 10px 20px 10px;
}
.type{
  grid-area: type;
  margin: 10px 10px 20px 10px;
  justify-self: center;
}
.date {
  grid-area: date;
  margin: 10px 10px 20px 10px;
}
.dropdown-img {
  grid-area: dropdown;
  justify-self: end;
  width: 40px;
  height: 40px;
  margin: 10px 10px 10px 10px;
  padding: 0 0 10px 0;
}

.details {
  display: none;
}

/* THESE ARE THE STYLINGS FOR EVERYTHING IN THE INFO BAR ON THE BOTTOM */
.settings-div {
  border: 2px solid black;
  width: 20vw;
  height: 100%;
  align-self: flex-end;
  order: 3;
  margin: 2px;
}

.site-info {
  border: 2px solid black;
  position: absolute;
  bottom: 2px;
  left: 5px;
  width: 75vw;
  height: 65%;
}

.site-info > h1 {
  margin: 5px 0 0 10px;
}

.copyright {
  margin: 5px 0 0 10px;
}
 
/* .search-results {
  /* display: none;
  animation thing for when it pops up
  displays over other stuff at the bottom */
/* } */


#search-bar {
  width: 66vw;
  margin: 5px;
}

#submit {
  margin: 5px;
}

